/* définit le style de tout le corps de la page (couleur, police) */
body {
  background: white;
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
}

/********************************************************************************
 **************************** La barre de navigation ****************************
 ********************************************************************************/
/* Style du menu
ses marges, sa position, sa hauteur */
nav {
  margin-left: 1rem;
  margin-right: 1rem;
  height: auto;
  position: absolute;
  z-index: 10;
}


/********************************************************************************
 ******************************* Le premier bloc ********************************
 ********************************************************************************/

/*
  * Le bloc ayant pour class "first"
  */

  /* Style du premier bloc 
  On lui fixe sa position, son style, le style de la police, sa couleur
  z-index indique la profondeur de l'objet */
.first {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50vh;
  width: 100%;
  text-align: center;
  color: #E93B00;
  font-size: 3vh;
  line-height: 3vh;
  font-weight: 600;
  z-index: 3;
}

/* le bouton se situant dans la div first, donc le bouton suivant le texte
définit ses marges */
.first button {
  margin: 2rem;
}

/* définit le style des cercles du haut de la page
position par rapport au haut de la page et sa profondeur */
#top-circles {
  position: absolute;
  top: 10%;
  left: 0%;
  z-index: 2;
}

/********************************************************************************
 ****************************** Le troisième bloc *******************************
 ********************************************************************************/

 /* Style du 3è bloc, contenant le menu 
  On lui fixe sa position, son style, le style de la police, sa couleur
  z-index indique la profondeur de l'objet */
.third {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #E93B00;
  font-size: 3vh;
  font-weight: 600;
  line-height: 3vh;
  z-index: 3;
}

/* définit le style des cercles du bas de la page
position par rapport au haut de la page et sa profondeur */
#bottom-circles {
  position: absolute;
  left: 0%;
  z-index: 2;
}

/* Le bouton de validation des selecteurs
définit ses marges */
.third button {
  margin: 2rem;
}

/* définit les label du bloc "third" */
.third label {
  margin: 1rem;
}

/* Le bouton de validation des selecteur, définit sa couleur et la couleur du texte */
.btn-dark {
  color: #fff;
  background-color: black;
  border-color: black;
}

/* Style des éléments dans le secteur
enlève les bordures (pas de bordure sauf en bas, aucun radius), le placement du texte, les couleurs
!important permet de mettre en priorité cet élément CSS > outrepasser le CSS de bootstrap */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none !important;
  border-radius: 0% !important;
  border-bottom: 2px solid #E93B00 !important;
  text-align: center !important;
  color: rgba(233, 59, 0, 0.5) !important;
}

/* Contient le background des vagues du haut, définit sa hauteur, ses marges
overflow : hidden empêche à l'image trop large de dépasser et de générer une barre de scroll horizontale */
.second { 
  height: 400px;
  width: 100%;
	overflow: hidden;
  margin-bottom: 2rem;
}

/* contient les vagues du bas */
.fourth {
  margin-top: 2rem;
  height: 400px;
  width: 100%;
  overflow: hidden;
}

/* Inclus la vague bleue du haut
définit sa taille, son animation (répétition de l'animation à l'infini)
Transform translate = reposition la vague dans la div parente. Rotate = inverser l'image, la retourner pour que la vague soit vers le bas */
.top-wave {
  background: url(../images/topWave.svg) repeat-x; 
  width: 19200px;
  height: 496px;
  animation: wave 16s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, -100px, 0) rotate(180deg);
}

/* Inclu la 2è vague bleue
Même principe, rotation en moins car la vague est dans le bon sens */
.bottom-wave {
  background: url(../images/bottomBlueWave.svg) repeat-x; 
  width: 19200px;
  height: 1176.6px;
  animation: wave 17s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
}

/* Inclu la dernière vague (la noire)
Même principe que les 2 prédédantes */
.black-wave {
  background: url(../images/bottomBlackWave.svg) repeat-x; 
  width: 19200px;
  height: 496px;
  animation: wave 15s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(-500px, 250px, 0);
}

  /* définit l'animation. Il y a un état à 0% et un à 100% l'animation va se faire automotiquement entre les deux états
  solution trouvée sur le site : https://codepen.io/buyubaya/pen/QrbdLE?fbclid=IwAR3FDeMOW19Q_1z1_YRVuLB8GgkpeAyrmU-Tv1efygqIKw3rIe1tG85k4kY 
  adaptée pour l'effet recherché et pour convenir à la maquette */
@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -4800px;
  }
}